.vertical-progress-bar {
    flex-shrink: 0;
    width: 20px;
    height: 100px;
}

.vertical-progress-bar--small {
    width: 12px;
    height: 60px;
}

.vertical-progress-bar--medium {
    width: 20px;
    height: 100px;
}

.vertical-progress-bar--large {
    width: 28px;
    height: 150px;
}

.vertical-progress-bar--extra-large {
    width: 40px;
    height: 200px;
}

.vertical-progress-bar--green {
    --fill-color: rgb(51, 204, 51);
    --background-color: rgba(51, 204, 51, 128);
}

.vertical-progress-bar--blue {
    --fill-color: rgb(51, 102, 204);
    --background-color: rgba(51, 102, 204, 128);
}

.vertical-progress-bar--red {
    --fill-color: rgb(204, 51, 51);
    --background-color: rgba(204, 51, 51, 128);
}

.vertical-progress-bar--yellow {
    --fill-color: rgb(204, 178, 51);
    --background-color: rgba(204, 178, 51, 128);
}

.vertical-progress-bar--purple {
    --fill-color: rgb(128, 51, 204);
    --background-color: rgba(128, 51, 204, 128);
}
